*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

header{
    width: 100%;
    margin: auto;
    text-align: center;
}

.herobtn img{
    width: 100px;
    border: none;
    margin-left: 0;
}


.nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav i{
    display: none;
}

.nav ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.nav ul li{
    padding: 30px;
    font-size: 20px;
}

.navlinks{
    flex: 1;
}

.navlinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlinks .start{
    margin-left: 370px;
}

.nav ul li a{
    text-decoration: none;
    color: black;
}

.start{
    padding: 15px 23px;
    color: white;
    background-color: rgb(43, 116, 252);
    border: 0px; 
    border-radius: 8px;
}

.nav .start{
    margin-right: 13px;
}

.section1{
    width: 90%;
    margin: 50px auto;
    text-align: center;
}

.section1 .anchor{
    font-size: 14px;
    padding: 12px;
    color: #1671d9;
    background-color: rgb(212, 238, 248);
    border: 0px; 
    border-radius: 10px;
}

.section1 h1{
    font-size: 72px;
    width: auto;
    margin: 20px auto 10px;
}

.section1 p{
    padding: 10px;
    font-size: 20px;
    font-weight: lighter;
    width: auto;
    margin-bottom: 50px;
}

.section1 a{
    width: 152px;
    font-size: 16px;
    padding: 12px 24px;
    color: white;
    background-color: rgb(43, 116, 252);
    border: 0px; 
    border-radius: 8px;
    margin-top: 20px;
    text-decoration: none;
}

header img{
    width: 90%;
    border-radius: 24px;
    border: 0.5px solid rgb(233, 223, 204);
}

main{
    width: 90%;
    margin: 20px auto;
}

.card{
    width: 100%;
    margin: 80px 0 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    gap: 4%;
}

.card h2{
    padding: 5px 0 0 10px;
    font-size: 72px;
}

.card p{
    padding: 10px;
    font-size: 25px;
    margin: 15px auto 10px;
    text-wrap: wrap;
}
.text{
    width: 48%;
}

.card img{
    width: 48%;
    margin: 40px 0;
    border: 0.5px solid rgb(233, 223, 204);
    border-radius: 15px;
}

.darkstart{
    margin: 30px 5px 20px 10px;
    padding: 10px 15px;
    font-size: 20px;
    color: white;
    background-color: rgb(50, 57, 70);
    border: 0px; 
    border-radius: 5px;
}

.section2{
    display: block;
    margin: 20px auto 40px;
    text-align: center;
}

.section2 h3{
    font-size: 62px;
    width: auto;
    margin: 20px auto 10px;
}

.section2 p{
    padding: 10px;
    font-size: 20px;
    margin-bottom: 50px;
}

.section2 a{
    width: 152px;
    font-size: 16px;
    padding: 12px 30px;
    color: white;
    background-color: rgb(43, 116, 252);
    border: 0px; 
    border-radius: 8px;
    margin-top: 20px;
    text-decoration: none;
}

.section3{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 60px;
    gap: 4%;
}

.section3 .features{
    width: 48%;
    margin-bottom: 40px;
}

.section3 .features h4{
    font-size: 30px;
    margin-bottom: 15px;
}

.section3 .features p{
    font-size: 15px;
    margin-bottom: 10px;
}

.section3 .features a{
    text-decoration: none;
    color: #1671d9;
    margin-top: 30px;
    font-size: 18px;
}

.blue{
    background-color: #1671d9;
    color: #fff;
    text-align: center;
    margin: 100px auto 20px;
    padding-top: 50px;
    border-radius: 24px;
}

.title h3{
    font-size: 62px;
}

.title p{
    font-size: 20px;
    line-height: 1.5rem;
    margin: 20px auto 30px;
}

.blue img{
    width: 90%;
    border-radius: 24px;
}

.deepblue{
    margin-top: 50px;
    background-color: #0c418873;
    border-radius: 0 0 24px 24px;
}

.deepblue p{
    font-size: 18px;
    line-height: 1.5rem;
    padding-top: 50px;
    padding-bottom: 10px;
}

.deepblue button{
    margin-bottom: 60px;
}

.faqs{
    background-color: black;
    color: #fff;
    padding: 100px;
}

.faqs h5{
    font-size: 50px;
    margin-bottom: 20px;
}

.faq{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 24px;
    align-items: center;
    background-color: #46484b5e;
    margin-bottom: 10px;
    font-size: 25px;
    color: #ffffffc0;
}

.foot{
    background-color: #2c2d2e5e;
    justify-content: space-between;
    padding: 30px;
    border-radius: 24px;
    align-items: center;
}

.foot2{
    display: flex;
    justify-content: space-between;
    color: #ffffffc0;
    font-size: 25px;
    margin-bottom: 20px;
}

.paragraph{
    padding-right: 120px;
    color: #ffffff75;
}

.faqfoot{
    text-align: center;
    background-color: #1671d9;
    margin: 60px;
    border-radius: 24px;
    padding: 60px 200px;
    color: #fff;
}

.faqfoot h6{
    font-size: 50px;
}

.faqfoot p{
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.5rem;
}

footer{
    width: 100%;
    margin: 0;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-between;
    padding: 60px;
    font-size: 16px;
}

.footerrow p{
    color: #fff;
    margin-bottom: 30px;
    text-decoration: none;
}

.footerrow a{
    text-decoration: none;
}

.footerrow .ftop{
    color: #e0e2e49f;
}





/*-----MEDIA QUERY-----*//*-----MEDIA QUERY-----*/
/*-----MEDIA QUERY-----*//*-----MEDIA QUERY-----*/
/*-----MEDIA QUERY-----*//*-----MEDIA QUERY-----*/
/*-----MEDIA QUERY-----*//*-----MEDIA QUERY-----*/
/*-----MEDIA QUERY-----*//*-----MEDIA QUERY-----*/



@media(max-width: 1536px){
    .card h2{
        font-size: 32px;
    }

    .section3{
        margin-top: 100px;
    }
}


@media(max-width: 1100px){
    
    header{
        width: 100%;
    }

    .nav ul li{
        padding: 18px;
        font-size: 18px;
    }

    .navlinks .start{
        margin-left: 40px;
    }

    .start{
        padding: 8px 13px;
    }

    .section1{
        width: 570px;
        margin: 50px auto;
}

.section1 h1{
    font-size: 25px;
}

.section1 p{
    font-size: 13px;
    margin-bottom: 20px;
}

.section1 .anchor{
    font-size: 13px;
    padding: 10px;
}

.section1 a{
    font-size: 13px;
    padding: 8px 12px;
}
    
main{
    margin: 10px auto;
}

.card{
    margin: 20px 0 20px;
}

.card img{
    margin: 20px 0;
}

.card h2{
    padding: 5px 0 0 10px;
    font-size: 18px;
}

.card p{
    padding: 10px;
    font-size: 12px;
    margin: 5px auto;
}

.card button{
    font-size: 12px;
}

    .section2 h3{
        font-size: 25px;
    }

    .section2 p{
        font-size: 10px;
        margin-bottom: 20px;
    }

    .section2 a{
        font-size: 12px;
        padding: 8px 20px;
        margin-top: 0;
    }

    .section3{
        margin: 50px 0;
    }

    .section3 .features h4{
        font-size: 20px;
    }

    .section3 .features p{
        font-size: 12px;
    }

    .section3 .features a{
        font-size: 12px;
    }

    .title h3{
        font-size: 25px;
    }

    .title p{
        font-size: 12px;
        line-height: 1rem;
        margin: 10px auto 30px;
    }

    .blue{
        margin: 20px 0;
    }

    .blue img{
        width: 90%;
        border-radius: 12px;
    }
    
    .deepblue p{
        font-size: 13px;
        line-height: 1rem;
        padding: 20px 100px;
    }

    .deepblue button{
        font-size: 13px;
        margin: 0px auto 20px;
    }

    .faqs{
        padding: 50px;
    }

    .faqs h5{
        font-size: 25px;
        margin-bottom: 10px;
    }

    .faq{
        font-size: 16px;
    }

    .foot2{
        font-size: 16px;
        margin-bottom: 10px;
    }

    .paragraph{
        font-size: 13px;
        padding-right: 90px;
    }

    .faqfoot{
        margin: 30px;
        border-radius: 12px;
        padding: 40px 60px;
        color: #fff;
    }

    .faqfoot h6{
        font-size: 25px;
    }

    .faqfoot p{
        margin: 20px auto 30px;
        font-size: 13px;
        line-height: 1rem;
    }

    .faqfoot button{
        font-size: 13px;
    }

    .footer{
        padding: 40px;
        font-size: 14px;
    }
}

@media(max-width: 800px){

    .nav ul li{
        padding: 10px;
        font-size: 13px;
    }

    .start{
        padding: 8px 13px;
    }

    .section1{
        margin: 30px auto;
}

.section1 h1{
    font-size: 16px;
}

.section1 p{
    font-size: 11px;
    line-height: 1rem;
    width: auto;
    margin-bottom: 10px;
}

.section1 .anchor{
    font-size: 12px;
    padding: 10px;
}

.section1 a{
    font-size: 12px;
    padding: 8px 12px;
}

header img{
    width: 90%;
}
    
main{
    margin: 20px auto;
}

.card{
    gap: 2%;
}

.card h2{
    padding: 5px 0 0 10px;
    font-size: 12px;
}

.card p{
    padding: 0 10px 2px;
    font-size: 10px;
    margin: 8px auto 5px;
}

    .section2 h3{
        font-size: 16px;
    }

    .section2 p{
        font-size: 11px;
        line-height: 1rem;
        margin-bottom: 10px;
    }

    .section2 a{
        font-size: 10px;
        margin-top: 5px;
    }

    .section3{
        margin: 40px 0;
    }

    .section3 .features{
        width: 48%;
        margin-bottom: 20px;
    }

    .section3 .features h4{
        font-size: 14px;
        margin-bottom: 10px;
    }

    .section3 .features p{
        font-size: 10px;
        margin-bottom: 10px;
    }

    .blue{
        margin: 20px auto;
        padding-top: 20px;
    }
    
    .title h3{
        font-size: 18px;
    }

    .title p{
        font-size: 12px;
        line-height: 1rem;
        margin: 10px 40px 30px;
    }

    .blue img{
        border-radius: 12px;
    }

    .deepblue{
        margin-top: 30px;
    }
    
    .deepblue p{
        font-size: 12px;
        line-height: 1rem;
        padding: 20px 60px;
    }

    .deepblue button{
        font-size: 12px;
        margin: 0px auto 20px;
    }
    
    .faqs h5{
        font-size: 25px;
        margin-bottom: 10px;
    }

    .faq{
        font-size: 12px;
        padding: 12px 20px;
        border-radius: 10px;
    }

    .foot{
        padding: 20px;
        border-radius: 10px;
    }
    
    .foot2{
        font-size: 12px;
        margin-bottom: 20px;
    }

    .paragraph{
        font-size: 10px;
        padding-right: 60px;
    }

    .faqfoot{
        width: 90%;
        margin: 30px auto;
        border-radius: 12px;
        padding: 40px 60px 20px;
        color: #fff;
    }

    .faqfoot h6{
        font-size: 18px;
    }

    .faqfoot p{
        margin-top: 20px;
        font-size: 12px;
        line-height: 1rem;
    }

    .faqfoot button{
        font-size: 12px;
        margin: 0px auto 10px;
    }

    .footer{
        font-size: 11px;
    }



@media(max-width: 400px){

    .nav ul{
        display: block;
    }

    .nav i{
        display: block;
    }

    .navlinks{
        display: block;
        position: fixed;
        background: turquoise;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

.section1 h1{
    font-size: 12px;
    margin-bottom: 5px;
}

.section1 p{
    font-size: 8px;
    line-height: 0.5rem;
    margin-bottom: 5px;
}

.section1 .anchor{
    font-size: 10px;
}

.section1 a{
    font-size: 10px;
}

.card{
    gap: 1%;
}


.card h2{
    padding: 5px 0 0 10px;
    font-size: 8px;
}

.card p{
    padding: 0 10px 2px;
    font-size: 6px;
    margin: 2px auto;
}


/*-----SECTION 2-----*/

    .section2 h3{
        font-size: 12px;
    }

    .section2 p{
        font-size: 8px;
        line-height: 0.5rem;
        margin-bottom: 10px;
    }

    .section2 a{
        font-size: 8px;
        margin-top: 5px;
    }

    .section3 .features{
        width: 48%;
        margin-bottom: 16px;
    }

    .section3 .features h4{
        font-size: 12px;
        margin-bottom: 5px;
    }

    .section3 .features p{
        font-size: 8px;
        margin-bottom: 5px;
    }

    .section3 .features a{
        font-size: 10px;
    }
    .blue{
        margin: 20px auto;
        padding-top: 20px;
    }
    
    .title h3{
        font-size: 18px;
    }

    .title p{
        font-size: 10px;
        line-height: 0.7rem;
        margin: 10px 40px 30px;
    }

    .blue img{
        border-radius: 12px;
    }

    .deepblue{
        margin-top: 30px;
    }
    
    .deepblue p{
        font-size: 10px;
        line-height: 1rem;
        padding: 20px 40px;
    }

    .deepblue button{
        margin: 0px auto 20px;
    }



/*----- FAQS-----*/
    
    .faqs h5{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .faq{
        font-size: 8px;
        padding: 12px 20px;
        border-radius: 10px;
    }

    .foot{
        padding: 20px;
        border-radius: 10px;
    }
    
    .foot2{
        font-size: 8px;
        margin-bottom: 20px;
    }

    .paragraph{
        font-size: 6px;
        padding-right: 40px;
    }



/*----- FAQFOOT-----*/

    .faqfoot{
        margin: 30px auto;
        border-radius: 12px;
        padding: 40px 40px;
        color: #fff;
    }

    .faqfoot h6{
        font-size: 12px;
    }

    .faqfoot p{
        margin-top: 20px;
        font-size: 8px;
        line-height: 1rem;
    }



/*----- FOOTER-----*/


    .footer{
        font-size: 8px;
    }
}
.darkstart{
    padding: 5px 10px;
    font-size: 8px;
    border-radius: 5px;
}
}